<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIlJvGc0HP9prfouVGqBDXVFBn-n4sgzM</string>
	<key>GCM_SENDER_ID</key>
	<string>531466222390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pmobile-18699</string>
	<key>STORAGE_BUCKET</key>
	<string>pmobile-18699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531466222390:ios:3feab42c2bda338e841197</string>
</dict>
</plist>